.contact-info-backgroud{
    background-color: #030108;
}
.contact-info-icon{
    i{
        color: #fff;
        font-size: 2rem;
    }
}
.contact-info-text{
    color: rgb(216, 206, 206);
    font-family: 'Poppins', sans-serif;
}