*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
// hero section right part style
.container-zero-padding{
    padding: 0;
}
  .hero-class{
      height: 100vh;
  }
  .hero-left-bg{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("../image/bgone.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .cross-icon-div{
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    height:45px;
    width:45px;
    border-radius:30px;
  }
  .cross-image{
    color:black;
    font-size: 1.5rem;
   
  }
  .cross-image:hover{
    color:rgb(146, 17, 17);
    font-size: 1.5rem;
  }
  .hero-about-me h2{
    color:#fff;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
  }
  .hero-about-me{
    position: relative;
  }
  .hero-about-me::before{
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: -1;
    background-color:#fff;
    animation: about-pulse 2s infinite ;
  }
  .about-me-button{
    cursor: pointer;
  }
//hero section right part style
.right-part-bg{
  background: url("../image/undraw_completed_tasks_vs6q.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
}
.hero-skill{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
  }
  .hero-country{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
  }
  .btn-custom-color{
    background-color: #6C63FF;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .after-animation-height{
    height:100vh;
  }
  .click-animation{
      transition: all 1s ease;
  }
  .my-name{
    color:#fff;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 600;
  }
  .my-tag{
    color:#d1cfcf;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400;

  }



/* animaition code */
@keyframes about-pulse {
    100%{
      transform: scaleX(1.3) scaleY(1.7);
      opacity: 0;
    }
  }

//media quires
  @media (min-width: 576px) {
  .hero-left-bg{
      height:100vh;
  }
  .right-part-bg{
      height:100vh;
  }
  .btn-custom-color{
    font-size: 1.5rem;
  }
  }