.project-details-wraper{
  height: 100vh;
}
.project-icon{
    font-size: 2rem;
    color: #1b1b1b;
}
.project-main{
    height: 100%;
    width: 100%;
}
.project-image{
    img{
        height: 190px;
    }
}
.project-details{
    h3,h6{
        color: #1b1b1b;
        font-family: 'Josefin Sans', sans-serif;
    }
    p{
        font-family:'Popins',sans-serif;
        //font-size: 1rem;
        color:#898989;
        width: 100%;
    }
    button{
        font-family: 'Josefin Sans', sans-serif;
    }
}
//new code
.project-details-height{
    height: 100vh;
}

@media (min-width: 960px) {
    .project-image{
        img{
            height: 200px;
        }
    } 
}