.skill-background{
    background-color: #030108;
}
.skill-title-wraper{
    .line{
        height:2px;
        width: 40px;
        background-color: burlywood;
    }
    h1{
        color:#fff;
        font-family: 'Josefin Sans', sans-serif;
    }
    h6{
        color: rgb(216, 206, 206);
        font-family: 'Poppins', sans-serif;
    }
}
.skill-percent{
    h5{
        color: rgb(216, 206, 206);
        font-family: 'Poppins', sans-serif;
    }
}