.testimonial-wraper{
    background-color:#252931;
}
.testimonial-background{
    background-color:#252931;
}
.client-details{
    img{
        height: 80px;
        width: 80px;
    }
    h5{        
        font-family: 'Poppins', sans-serif;
        color: #fff;
    }
    p{        
        font-family: 'Poppins', sans-serif;
        color: rgb(216, 206, 206);
        font-size: 12px;
    }
}
.testimonial-details{
    p{
        color: rgb(216, 206, 206);
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;

    }
}
.testimonial-icon{
    color: yellow;
    font-size: 1.1rem;
    margin-top: -10px;
}

// @media (min-width: 576px) {
//     .testimonial-wraper{
//         height:75vh;
//     }
// }