.my-work-title{
    // background-color: brown;
    font-family:'Josefin Sans', sans-serif;
    h1{
        color:#1b1b1b;
    }
    h4{
        color:#898989;
    }
}

.project-wraper{
   height:200px;
}
.project-overlay{
    background-color: rgba(117, 107, 211, 0.15);
    backdrop-filter: blur(5px);
    display: none !important;
    height: 100%;
    width: 100%;
    z-index: 1;
    h4{
        font-family: 'Josefin Sans', sans-serif;
    }
   button{
    font-family: 'Josefin Sans', sans-serif;
   }
}
.project-wraper:hover .project-overlay{
    display: block !important;
    // transition: all 1s ease-in-out;
    animation-name:projectanimation;
    animation-duration: 1s;
}
.project-image{
    width: 100%;
}
.project-title{
    height: 100%;
}
.work-button{
    background-color: #6C63FF;
}



@keyframes projectanimation {
   from{
      transform: scale(0);
     }
    to{
      transform: scale(1);
     } 
}