<section id="about" class="about-area section-padding section-bg active">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-heading">
							<h2 class="s-h-title">
								About <span>Me</span>
							</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="about-box">
							<div class="row">
								<div class="col-lg-6 d-flex align-self-center">
									<div class="about-content">
										<ul class="info-list">
											<li>
												<span class="title">First Name : </span>
												<span class="value">Genie</span>
											</li>
											<li>
												<span class="title">Last Name : </span>
												<span class="value">Francis</span>
											</li>
											<li>
												<span class="title">Age : </span>
												<span class="value">28</span>
											</li>
											<li>
												<span class="title">Birthdate : </span>
												<span class="value">21 june 1990</span>
											</li>
											<li>
												<span class="title">Residence : </span>
												<span class="value">USA</span>
											</li>
											<li>
												<span class="title">Langages : </span>
												<span class="value">English</span>
											</li>
											<li>
												<span class="title">Phone : </span>
												<span class="value">+0143 173 559</span>
											</li>
											<li>
												<span class="title">Email : </span>
												<span class="value">anexample@gmail.com</span>
											</li>
											<li>
												<span class="title">Freelance : </span><span class="value">Available</span>
											</li>
											<li>
												<span class="title">Experience : </span><span class="value">5 years</span>
											</li>
											<li>
												<span class="title">Skype : </span><span class="value">genie.francis</span>
											</li>
											<li>
												<span class="title">Address :</span>
												<span class="value">700 Oak Street USA</span>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-6 d-flex align-self-center">
									<div class="about-content">
										<div class="my-acivment-list">
											<div class="row">
												<div class="col-md-6">
													<div class="single-acivment one">
														<div class="top-area">
															<div class="icon">
																<i class="far fa-heart"></i>
															</div>
															<div class="number">
																<span class="n-counter">368</span><span class="plus">+</span>
															</div>
														</div>
														<div class="content">

															<h6 class="title">
																Happy Clients
															</h6>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="single-acivment two">
														<div class="top-area">
															<div class="icon">
																<i class="fas fa-briefcase"></i>
															</div>
															<div class="number">
																<span class="n-counter">658</span><span class="plus">+</span>
															</div>
														</div>
														<div class="content">

															<h6 class="title">
																Project Done
															</h6>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="single-acivment">
														<div class="top-area">
															<div class="icon">
																<i class="fas fa-cloud-download-alt"></i>
															</div>
															<div class="number">
																<span class="n-counter">503</span><span class="plus">+</span>
															</div>
														</div>
														<div class="content">

															<h6 class="title">
																Files Downloaded
															</h6>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="single-acivment">
														<div class="top-area">
															<div class="icon">
																<i class="fas fa-medal"></i>
															</div>
															<div class="number">
																<span class="n-counter">72</span><span class="plus">+</span>
															</div>
														</div>
														<div class="content">
															<h6 class="title">
																Awards Won
															</h6>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row w-i-d">
					<div class="col-lg-12">
						<div class="section-heading">
							<h2 class="s-h-title">
								What I <span>Do</span>
							</h2>
						</div>
					</div>
				</div>
				<div class="row service-area-wrapper">
					<div class="col-lg-4 col-md-6">
						<a href="ajax/service1.html" class="single-service service-modal ">
							<img src="assets/images/s1.png" alt="">
							<h6 class="title">SEO</h6>
							<p>Hopes lived by rooms oh in no death house. Contented direction september but end led excellent
								ourselves.</p>
						</a>
					</div>
					<div class="col-lg-4 col-md-6">
						<a href="ajax/service2.html" class="single-service service-modal ">
							<img src="assets/images/s2.png" alt="">
							<h6 class="title">Graphic Design</h6>
							<p>Hopes lived by rooms oh in no death house. Contented direction september but end led excellent
								ourselves.</p>
						</a>
					</div>
					<div class="col-lg-4 col-md-6">
						<a href="ajax/service3.html" class="single-service service-modal ">
							<img src="assets/images/s3.png" alt="">
							<h6 class="title">Digital Marketing</h6>
							<p>Hopes lived by rooms oh in no death house. Contented direction september but end led excellent
								ourselves.</p>
						</a>
					</div>
					<div class="col-lg-4 col-md-6">
						<a href="ajax/service4.html" class="single-service service-modal ">
							<img src="assets/images/s4.png" alt="">
							<h6 class="title">Amazon AWS</h6>
							<p>Hopes lived by rooms oh in no death house. Contented direction september but end led excellent
								ourselves.</p>
						</a>
					</div>
					<div class="col-lg-4 col-md-6">
						<a href="ajax/service5.html" class="single-service service-modal ">
							<img src="assets/images/s5.png" alt="">
							<h6 class="title">Web Development</h6>
							<p>Hopes lived by rooms oh in no death house. Contented direction september but end led excellent
								ourselves.</p>
						</a>
					</div>
					<div class="col-lg-4 col-md-6">
						<a href="ajax/service6.html" class="single-service service-modal ">
							<img src="assets/images/s6.png" alt="">
							<h6 class="title">Web Design</h6>
							<p>Hopes lived by rooms oh in no death house. Contented direction september but end led excellent
								ourselves.</p>
						</a>
					</div>
				</div>
				<div class="row w-i-d">
					<div class="col-lg-12">
						<div class="section-heading">
							<h2 class="s-h-title">
								 <span>My</span> Testimonial
							</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="single-review">
							<div class="reviewr">
								<div class="img">
									<img src="assets/images/rev1.jpg" alt="">
								</div>
								<div class="content">
									<h4 class="name">
										Jinea Khan
									</h4>
									<p>
										CEO of Facebook
									</p>
								</div>
							</div>
							<div class="stars">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</div>
							<div class="content">
								<p>
									Believed attentive assisted picture sharpness to I to she waved the are and slide understand the that
									set task. The you due back.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-review">
							<div class="reviewr">
								<div class="img">
									<img src="assets/images/rev2.jpg" alt="">
								</div>
								<div class="content">
									<h4 class="name">
										Alen Doe
									</h4>
									<p>
										CEO of Apple
									</p>
								</div>
							</div>
							<div class="stars">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</div>
							<div class="content">
								<p>
									Believed attentive assisted picture sharpness to I to she waved the are and slide understand the that
									set task. The you due back.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-review">
							<div class="reviewr">
								<div class="img">
									<img src="assets/images/rev3.jpg" alt="">
								</div>
								<div class="content">
									<h4 class="name">
										Zachary
									</h4>
									<p>
										CTO at IdealDevs
									</p>
								</div>
							</div>
							<div class="stars">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</div>
							<div class="content">
								<p>
									Believed attentive assisted picture sharpness to I to she waved the are and slide understand the that
									set task. The you due back.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-review">
							<div class="reviewr">
								<div class="img">
									<img src="assets/images/rev1.jpg" alt="">
								</div>
								<div class="content">
									<h4 class="name">
										Nathaniel
									</h4>
									<p>
										COO at IdealDevs
									</p>
								</div>
							</div>
							<div class="stars">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</div>
							<div class="content">
								<p>
									Believed attentive assisted picture sharpness to I to she waved the are and slide understand the that
									set task. The you due back.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-review">
							<div class="reviewr">
								<div class="img">
									<img src="assets/images/rev2.jpg" alt="">
								</div>
								<div class="content">
									<h4 class="name">
										Harrison
									</h4>
									<p>
										DH at IdealDevs
									</p>
								</div>
							</div>
							<div class="stars">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</div>
							<div class="content">
								<p>
									Believed attentive assisted picture sharpness to I to she waved the are and slide understand the that
									set task. The you due back.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-review">
							<div class="reviewr">
								<div class="img">
									<img src="assets/images/rev3.jpg" alt="">
								</div>
								<div class="content">
									<h4 class="name">
										Jameson
									</h4>
									<p>
										CEO at IdealDevs
									</p>
								</div>
							</div>
							<div class="stars">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</div>
							<div class="content">
								<p>
									Believed attentive assisted picture sharpness to I to she waved the are and slide understand the that
									set task. The you due back.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>